.verify-root,
.system-setting-root,
.name-change-root,
.change-root,
.name-change-root,
.addr-change-root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
}
.address-page-root {
  width: 100vw;
  height: 100vh;
  background-color: #ffc30b;
  position: relative;
  font-family: "Inter", sans-serif;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.address-back-arrow {
  position: absolute;
  width: 77px;
  height: 77px;
  top: 17px;
  left: 33px;
  opacity: 0.4;
  cursor: pointer;
}

.address-back-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: scaleX(-1);
}

.address-title {
  position: absolute;
  top: 251px;
  font-weight: 700;
  font-size: 96px;
  line-height: 100%;
  color: #f0eee9;
  margin: 0;
  text-align: center;
}

.address-input-container {
  position: absolute;
  width: 906px;
  height: 162px;
  top: 462px;
  background: #fffdfd;
  border-radius: 75px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  box-sizing: border-box;
}

.address-icon-box {
  width: 151px;
  height: 144px;
  background: #f0eee9;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.address-icon-img {
  width: 91px;
  height: 91px;
  object-fit: contain;
}

.address-input-field {
  flex: 1;
  border: none;
  background: none;
  outline: none;
  font-weight: 700;
  font-size: 50px;
  color: #000000;
  padding-left: 23px;
}

.address-input-field::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.address-error-text {
  position: absolute;
  top: 647px;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  color: #ff0000;
  text-align: center;
}

.address-next-btn {
  position: absolute;
  width: 304px;
  height: 87px;
  top: 788px;
  background: #f0eee9;
  border-radius: 60px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.address-next-text {
  font-weight: 700;
  font-size: 32px;
  color: #000000;
}
