.dashboard-root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

.dash-container {
  display: flex;
  flex: 1;
  padding: 40px 60px;
  gap: 50px;
  box-sizing: border-box;
}

.left-section {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.summary-wrapper {
  display: flex;
  gap: 40px;
}

.summary-card {
  flex: 1;
  height: 180px;
  background: #f0eee9;
  border-radius: 40px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-left {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card-label {
  font-size: 26px;
  font-weight: 700;
}

.card-count {
  font-size: 60px;
  font-weight: 800;
  background: none !important;
}

.green {
  color: #2ab944;
  background: none !important;
}

.red {
  color: #e53935;
}

.card-img {
  width: 85px;
  height: 85px;
  object-fit: contain;
  margin-right: 20px;
}

.danger-icon {
  opacity: 0.35;
}

.map-section {
  flex: 1;
  background: #e3f2fd;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  color: #555;
}

.vertical-line {
  width: 2px;
  height: 90%;
  background: #000;
  opacity: 0.3;
  align-self: center;
}

.right-section {
  flex: 1;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.status-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.status-title {
  font-size: 35px;
  font-weight: 700;
}

.view-all {
  width: 110px;
  height: 40px;
  background: #d9d9d9;
  border-radius: 40px;
  border: none;
  font-weight: 700;
  cursor: pointer;
  opacity: 0.7;
}

.status-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.status-item {
  height: 95px;
  background: #f0eee9;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 35px;
}

.item-name {
  font-size: 26px;
  font-weight: 700;
}

.status-badge {
  width: 100px;
  height: 40px;
  border-radius: 40px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.safe {
  background: #b6e1b8;
  color: #234921;
}

.danger {
  background: #e5aeac;
  color: #501815;
}
