.dash-header {
  width: 100%;
  height: 124px;
  background: #ffc30b;
  border-radius: 0 0 40px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
  box-sizing: border-box;
  z-index: 100;
}

.dash-logo {
  font-size: 80px;
  font-weight: 700;
  color: #f0eee9;
  margin-top: 25px;
  cursor: pointer;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 25px;
}

.logout-btn {
  width: 149px;
  height: 56px;
  background: #d9d9d9;
  border-radius: 40px;
  border: none;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.menu-icon {
  width: 65px;
  height: 65px;
}
