.verify-root,
.system-setting-root,
.name-change-root,
.change-root,
.name-change-root,
.addr-change-root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
}
body {
  margin: 0;
  padding: 0;
  background-color: #ffc30b;
  overflow: hidden;
}

.login-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.back-arrow {
  position: absolute;
  width: 77px;
  height: 77px;
  top: 17px;
  left: 33px;
  opacity: 0.4;
  cursor: pointer;
  z-index: 20;
}

.back-arrow-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: scaleX(-1) rotate(0deg);
}

.main-title {
  margin-top: 250px;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 96px;
  color: #f0eee9;
}

.input-field {
  width: 591px;
  height: 139px;
  background-color: #ffffff;
  border-radius: 64px;
  display: flex;
  align-items: center;
  padding: 0 22px;
  box-sizing: border-box;
  margin-bottom: 25px;
}

.icon-circle {
  width: 112px;
  height: 112px;
  background-color: #f0eee9;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding: 40px;
  box-sizing: border-box;
}

.field-icon {
  width: 100% !important;
  height: 100% !important;
  object-fit: contain;
}

.text-input {
  border: none;
  background: none;
  outline: none;
  font-size: 40px;
  font-weight: 700;
  color: #333;
  margin-left: 20px;
  width: 100%;
}

.login-button {
  width: 304px;
  height: 87px;
  margin-top: 45px;
  border-radius: 60px;
  background-color: #f0eee9;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-text {
  font-weight: 700;
  font-size: 32px;
  color: #000000;
}
