@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");

.verify-root,
.system-setting-root,
.name-change-root,
.change-root,
.name-change-root,
.addr-change-root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
}
.container {
  width: 100vw;
  height: 100vh;
  background: #ffc30b;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 96px;
  line-height: 100%;
  color: #f0eee9;
  margin-bottom: 80px;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.btn {
  width: 591px;
  height: 139px;
  border-radius: 64px;
  border: none;
  background: #ffffff;

  font-size: 32px;
  font-weight: 700;
  cursor: pointer;
}
