.option-root {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-family: "Inter", sans-serif;
}

.option-container {
  flex: 1;
  position: relative;
  padding: 0 40px;
  flex-direction: column;
}

.option-top-bar {
  display: flex;
  align-items: center;
  margin-top: 50px;
  width: 100%;
  padding-left: 20px;
}

.profile-card {
  width: 324px;
  height: 97px;
  background: #d9d9d9;
  border-radius: 60px;
  display: flex;
  align-items: center;
  padding-left: 11px;
  box-sizing: border-box;
  flex-shrink: 0;
}

.profile-icon-circle {
  width: 86px;
  height: 82px;
  background: #f0eee9;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-img {
  width: 41px;
  height: 41px;
}

.profile-text {
  margin-left: 23px;
}

.user-id,
.fixed-text {
  font-weight: 700;
  font-size: 30px;
  color: #000;
}

.policy-text {
  flex: 1;
  font-weight: 700;
  font-size: 32px;
  line-height: 130%;
  color: #000;
  text-align: center;
  margin-right: 50px;
}

.card-group {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 50px;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.option-card {
  flex: 1;
  max-width: 480px;
  height: 625px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}

.option-card:hover {
  transform: translateY(-15px);
}

.pink {
  background: #f4b9b8;
}
.orange {
  background: #f9dbbb;
}
.green {
  background: #c7e9ca;
}

.card-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 130%;
  text-align: center;
  color: #000;
}

.card-hex {
  position: absolute;
  bottom: 80px;
  font-weight: 500;
  font-size: 18px;
  color: #333;
  opacity: 0.6;
}
